/.DS_Store
.DS_Store
/tool/build-tmp
/arduino/stepper02/inc/actuators_attach.h
/arduino/stepper02/inc/actuators_setup.h
/arduino/stepper02/inc/extrapin.h
/arduino/stepper02/inc/identification.h
/arduino/stepper02/inc/layers.h
/arduino/stepper02/inc/segments.h
/arduino/stepper02/inc/settings.h
/arduino/stepper02/inc/steppers.h
/arduino/stepper02/inc/types.h
/arduino/stepper02/stepper02 (Julian H.s in Konflikt stehende Kopie 2016-10-23).ino
/tool/controlP5.ser
/tool/data
/tool/export
